body { 
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    background-image: url("data:image/svg+xml;utf8,%3Csvg width=%222000%22 height=%221400%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3ClinearGradient id=%22a%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23d1c0d6%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23dccfe0%22%2F%3E%3C%2FlinearGradient%3E%3C%2Fdefs%3E%3Cpath fill=%22%23fffefe%22 d=%22M0 0h2000v1400H0z%22%2F%3E%3Cpath d=%22M0 700c97.784 40.318 195.569 80.636 310 76 114.431-4.636 245.509-54.227 360-47 114.491 7.227 212.397 71.27 319 50 106.603-21.27 221.904-127.856 333-127 111.096.856 217.987 109.154 347 119 129.013 9.846 280.146-78.758 339-107 58.854-28.242 25.427 3.88 32 36l-40 700H0Z%22 fill=%22url(%23a)%22%2F%3E%3C%2Fsvg%3E");
  }
  