@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@500&display=swap');

/* Remove or comment out the default ::after style for collapse-title */
/* .collapse-title::after {
    font-size: 2rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
} */

/* Add new styling for collapse-title when the "modified" class is applied */
.collapse-title-lg::after {
    font-size: 2rem; /* or desired size */
    margin-right: 1rem;
    margin-top: 0.5rem;
}



.puff {
    font-family: "DynaPuff", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: auto; /* Ensure scrolling works */
}

// <uniquifier>: Use a unique and descriptive class name


/* Background Animation */
@keyframes waveAnimation {
    0% {
        background-position: 0 center;
    }
    100% {
        background-position: -20vw center;
    }
}

.waves {
    position: fixed; /* Keeps it fixed relative to the viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Ensures it remains in the background */
    background-image: url("data:image/svg+xml;utf8,%3Csvg width=%222000%22 height=%221400%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3ClinearGradient id=%22a%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23ef9894%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23f3b1ae%22%2F%3E%3C%2FlinearGradient%3E%3C%2Fdefs%3E%3Cpath fill=%22rgba(236, 227, 202, 0)%22 d=%22M0 0h2000v1400H0z%22%2F%3E%3Cpath d=%22M0 700c122.435 32.528 244.87 65.057 354 39 109.13-26.057 204.954-110.698 311-89 106.046 21.698 222.313 149.737 337 148 114.687-1.737 227.792-133.25 326-137s181.517 120.26 313 129c131.483 8.74 311.138-97.788 379-132 67.862-34.212 23.931 3.894 20 42l-40 700H0Z%22 fill=%22url(%23a)%22%2F%3E%3C%2Fsvg%3E");
    background-size: 150% 100%;
    background-position: 0 center;
    animation: waveAnimation 20s linear infinite alternate;
    pointer-events: none; /* Ensures the waves don't block clicks */
}

.bg_test {

background:
      calc( .9*66px) calc( .9*66px)/calc(2*66px) calc(2*66px) conic-gradient(at 20% 20%,#0000 75%,#efc274 0),
      calc(-.1*66px) calc(-.1*66px)/calc(2*66px) calc(2*66px) conic-gradient(at 20% 20%,#0000 75%,#efc274 0),
      calc( .7*66px) calc( .7*66px)/calc(2*66px) calc(2*66px) conic-gradient(at 40% 40%,#0000 75%,#e6ba6e 0),
      calc(-.3*66px) calc(-.3*66px)/calc(2*66px) calc(2*66px) conic-gradient(at 40% 40%,#0000 75%,#e6ba6e 0),
      conic-gradient(from 90deg at 20% 20%,#efc274 25%,#e6ba6e 0) 
       0 0/66px 66px;



}


.btn-rounded {
    border-radius: 20px;

}

